<h1>Contacts#show</h1>
<p>Find me in app/views/contacts/show.html.erb</p>

<p>
  <strong>ID:</strong>
  <%= @contact.id %>
  <br>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>
<%= link_to 'Voltar', root_path %>