# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
tmp/
/tmp/
tmp/*
/tmp/*
/temp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
db/postgres

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.env
.dockerignore

# database
db/postgres
udemy/tdd/test_app/db/postgres
/home/brandao/Programação/studies/udemy/tdd/test_app/db/postgres