<br>
<div class="basic-grey">
  <h1>Seja bem-vindo!</h1>

  <ul>
     <li><span class="fa fa-th-list" aria-hidden="true"></span> - <%= link_to "Tipos", kinds_path %></li>
    <li><span class="fa fa-phone-square" aria-hidden="true"></span> - <%= link_to "Contatos", contacts_path %></li> 
  </ul>
</div>