body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#main {
  width: 80%;
  margin: auto;
}

.hero {
  background-image: url(../imagens/topo.jpg);
  height: 500px;  
  border-top: 1px solid transparent;
}

.hero nav {
  background-color: blueviolet;
  position: fixed;
  top: 0;
  width: 100%;
}

.hero nav ul {
  text-align: right;
  margin: 20px 50px 0 0;
}

.hero nav li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
  border: 1px;
}

.aligment-nav {
  background-color: violet;
}

#fashion-text {
  text-align: center;
  font-size: 1.2em;
  padding-top: 6%;
  padding-bottom: 10%;
  letter-spacing: 1px;
  line-height: 1.6em;
}

#fashion-text h1 {
  font-size: 2.8em;
}

.cards-section {
  padding: 10px;
  overflow: auto;
}

.card {
  width: 32%;
  float: left;
  padding-bottom: 5%;
}

.card-1, .card-2 {
  margin-right: 2%;
}

.card img {
  width: 100%;
}

.card h3 {
  text-align: center;
  text-transform: uppercase;
}

.card p {
  margin: 0;
  text-align: center;
  font-size: large;
  color: #62666e;
}

#detalhe {
  color: #FFF;
  padding: 10%;
  background-image:url(../imagens/bg_detalhe.png);
  background-size: cover;
}

#detalhe strong {
  padding-right: 3%;
  font-size: 4em;
  text-transform: uppercase;
}

#detail-position {
  padding-right: 28%;
  font-size: 1.5em;
  text-align: left;
}

.callme-section {
  color: #092147;
  text-transform: uppercase;
  text-align: center;
  padding: 1%;
  font-size: 2.7em;
  font-weight: bolder;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #000;
  color: #5889d6;
  font-size: 130%;
  text-shadow: 3px 3px 2px #333;
}